-- DropForeignKey
ALTER TABLE "public"."submissions" DROP CONSTRAINT "submissions_challenge_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."submissions" DROP CONSTRAINT "submissions_verified_by_fkey";

-- DropIndex
DROP INDEX "public"."challenges_event_id_slug_key";

-- AlterTable
ALTER TABLE "public"."challenges" DROP CONSTRAINT "challenge_pkey",
DROP COLUMN "slug",
DROP COLUMN "id";

ALTER TABLE "public"."challenges" DROP CONSTRAINT "challenge_pkey",
ADD "id" CHAR(24),
ADD CONSTRAINT "challenge_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "public"."submissions" DROP COLUMN "verified",
DROP COLUMN "verified_by",
ALTER COLUMN "challenge_id" SET DATA TYPE TEXT;

-- AddForeignKey
ALTER TABLE "public"."submissions" ADD CONSTRAINT "submissions_challenge_id_fkey" FOREIGN KEY ("challenge_id") REFERENCES "public"."challenges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

